<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown()"
  [infiniteScrollContainer]="'.content-parent'"
  [fromRoot]="true"
  class="poke-list">
    <ng-container *ngIf="(list && (list.length > 0)); else noItems">

      <mat-nav-list dense>
        <ng-container *ngFor="let pokemon of list">
          <a matLine [routerLink]="['../', pokemon.name]">
            <mat-list-item>
              {{ pokemon.name }}
            </mat-list-item>
          </a>
        </ng-container>
      </mat-nav-list>

    </ng-container>
</div>


<ng-template #noItems>
  <div>
    No Pokemons found.
  </div>
</ng-template>
