:host {
  width: 100%;
}

.poke-list {

  .mat-list-item {
    height: 30px;

    a {
      width: 100%;
      height: 100%;
    }
  }

  .mat-list-item:hover {
    background-color: transparent;
    font-weight: 700;
  }

  .mat-list-single-selected-option {
    background-color: #e4e6f9;
    font-weight: 500;
  }
}
