<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown()"
  [infiniteScrollContainer]="'.content-parent'"
  [fromRoot]="true"
  class="poke-list">
    <ng-container *ngIf="(list && (list.length > 0)); else noItems">

      <mat-nav-list dense>
        <ng-container *ngFor="let pokemon of list">
          <a matLine [routerLink]="['../', pokemon.name]">
            <mat-list-item>
              <div class="logo mr-2">
                <img [src]="'assets/img/pokeball.png'" />
              </div>
              <div>
                {{ pokemon.name }}
              </div>
            </mat-list-item>
          </a>
        </ng-container>
      </mat-nav-list>

      <ng-container *ngIf="(this.ps.pokemonListLoading$ | async)">
        <app-shared-loading [message]="'Pokemons'"></app-shared-loading>
      </ng-container>

    </ng-container>
</div>


<ng-template #noItems>
  <div>
    No Pokemons found.
  </div>
</ng-template>
