<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown()"
  [infiniteScrollContainer]="'.content-parent'"
  [fromRoot]="true"
  [infiniteScrollDisabled]="scrollDisabled"
  class="poke-list" fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngIf="(list && (list.length > 0)); else noItems">

      <mat-list dense>
        <ng-container *ngFor="let pokemon of list; trackBy: trackByFn">
          <mat-list-item [ngClass]="{'last-selected': ((this.ps.selectedPokemon$ | async)?.name) === pokemon.name,'poke-list-item':true}">
            <div [ngClass]="{'w-100':true}"
              fxLayout="row" fxLayoutAlign="space-between center">
              
              <a fxLayout="row" fxLayoutAlign="center center" [routerLink]="['../', pokemon.name]">
                <div class="logo mr-2 d-flex">
                  <img [src]="'assets/img/pokeball.png'" />
                </div>
                <div [id]="pokemon.name" class="fs-14">
                  {{ pokemon.pokemonId }} - {{ pokemon.name | titlecase }}
                </div>
              </a>

              <button mat-icon-button (click)="onFavToggle(pokemon)">
                <mat-icon [ngClass]="{'favorite': true, 'favorited': pokemon.isFavorite}">favorite</mat-icon>
              </button>
            </div>
            
          </mat-list-item>
        </ng-container>
      </mat-list>

      <ng-container *ngIf="(this.ps.pokemonListLoading$ | async)">
        <app-shared-loading [message]="'Pokemons'"></app-shared-loading>
      </ng-container>

    </ng-container>
</div>


<ng-template #noItems>
  <div>
    No Pokemons found.
  </div>
</ng-template>
