<div class="container-fluid mb-5 main">

  <div class="sticky-top dashboard">
    <shared-action-bar [actions]="(this.ps.actionBarActions$ | async)">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="page-data">
        <div>
          {{ (this.ps.pokemonListLoading$ | async) ? 'Loading...' : '' }}
        </div>
        <div> | </div>
        <div>
          <ng-container *ngIf="true; else showBtn">
            <ng-container *ngIf="(this.ps.allPaginationData$ | async) as pageData">
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                <div>
                  page {{ pageData.currentPage }} / {{ pageData.pages }}
                </div>
                <div> | </div>
                <div>
                  total: {{ pageData.totalCount }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </shared-action-bar>
  </div>

  <router-outlet (activate)="onActivate($event)"></router-outlet>

</div>

<ng-template #showBtn>
  <button mat-button color="primary">Show pagination data</button>
</ng-template>
