<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px" class="main">

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="w-100 p-title">
    {{ title }}
  </div>

  <ng-container *ngIf="((this.ps.pokemonListFirstLoading$ | async) === false); else firstTimeLoadMask">
    <div class="w-100" fxLayout="row" fxLayoutAlign="start start">
      <app-main-all-pokemon-list [list]="(this.ps.pokemonList$ | async)" 
        (scrollLoad)="this.onScroll($event)" [scrollDisabled]="!!(this.ps.pokemonListEndReached$ | async)">
      </app-main-all-pokemon-list>
    </div>
  </ng-container>

</div>

<ng-template #firstTimeLoadMask>
  <div class="my-5">
    <app-shared-loading></app-shared-loading>
  </div>
</ng-template>
